/*
* {
  box-sizing: border-box;
}
*/

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  width: 100%;
}

.logo {
  padding: 30px;
  line-height: 1.7em;
  text-decoration: none;
  justify-items: start;
}

nav {
  display: flex;
}

nav a {
  padding: 30px;
}

img {
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
